@media screen and (max-width: 800px) {
    .overlay-mssg{
        width: 100vw;
        height: 100vh;
        display: block  ;
        text-align: center;
        overflow: hidden;
      }
    .main{
        display: none;
    }
    .navbar{
        display: none;
    }
    .toggle-mob-nav{
        display: flex;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.3);
        position: absolute;
        border-radius: 20px;
        padding: 10px 8px;
        gap: 5px;
        top: 20px;
        right: 20px;
        z-index:4;
    }
     .toggle-mob-nav{
        display: flex;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 20px;
        padding: 10px 8px;
        gap: 5px;
     }
    .toggle-mob-nav a{
        width: 20px;
        border: 1px solid black;
        color: blanchedalmond;
    }
    
    .tab-mob-view{
        position:absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        z-index: 5;
        justify-content: center;
        align-items: center;
        display: flex;
        transform: translateY(-100%);
    }
    .nav-close-btn{
        position: absolute;
        top: 15p;
        right: 15px;
    }
    .tab-mob-view ul {
        
    }
    .tab-mob-view ul li{
       font-size: 30px;
       font-weight: bold;
    }
    #project-sec{
        display: none;
    }
}
@media screen and (max-width: 388px) {
    body{
        padding: 0;
    }

    .right-con{
        padding: 0;
    }
    .hme-centre-con{
        /* border: 2px solid red; */
        flex-direction: column;
    }
    .toggle-mob-nav{
        
    }


    /* DIsplay NONE Wale yaha pe */
    /* .arrow{ */
        /* display: none;
    }
    .sub-con-1{
        display: none;
    }
    .name-absolute{
        display: none;
    }
    .contact-navi{
        display: none;
    } */
}
