
@font-face{
  font-family: Jatin-Portfolio-Regular;
  src: url(../assets/font/jatin-portfolio.ttf);
}
@font-face {
  font-family: Preahvihear Regular;
  src: url(../assets/font/Preahvihear-Regular.woff);
}
@font-face {
  font-family: VJ-Handwritten-bold;
  src: url(../assets/font/Kalam-Bold.ttf); 
}
* {
  padding: 0;
  margin: 0;
  color: var(--text-primary);
  user-select: none;
  scroll-behavior: smooth;
}
::-moz-selection { /* Code for Firefox */

  background: yellow;
}
::selection { /* Code for Firefox */

  background: pink;
}
:root {
  /* Fonts */
  --font-handwriting: "VJ-Handwritten-bold";

  /* Dark Theme Colors */
  --dark-bg-primary: #0a0917;
  --dark-bg-secondary: #1c073e;
  --dark-text-primary: #ffffff;
  --dark-accent-primary: #542983;
  --dark-accent-secondary: ;
  --dark-accent-green:rgb(0, 255, 0);

  /* Light Theme Colors */
  --light-bg-primary:whitesmoke ;
  --light-bg-secondary: #e0e0e8;
  --light-text-primary: #1a1a2e;
  --light-accent-primary: #6a4caf;
  --light-accent-secondary: #9575cd;

  /* Default to Dark Theme */
  --bg-primary: var(--dark-bg-primary);
  --bg-secondary: var(--dark-bg-secondary);
  --text-primary: var(--dark-text-primary);
  --accent-primary: var(--dark-accent-primary);
  --accent-secondary: var(--dark-accent-secondary);
}
/* Light Theme Styles */
body.light-theme {
  --bg-primary: var(--light-bg-primary);
  --bg-secondary: var(--light-bg-secondary);
  --text-primary: var(--light-text-primary) ;
  --accent-primary: var(--light-accent-primary);
  --accent-secondary: var(--light-accent-secondary);
}
body {
  /* background-image: linear-gradient(#051d44, #1c073e); */
  background-color: var(--bg-primary);
  padding: 8px;
  height: 97vh;
  max-width: 100vw;
  filter: hue-rotate(360deg);
  overflow-x: hidden;
}
a{
  text-decoration: none;
}
.mouse-outline{
  width:20px ;
  height: 20px;
  border-radius: 50%;
  position: fixed;
  top: 50px;
  left: 0;
  z-index: 2;
  background-color: white;
  box-shadow: 20px 20px 70px pink;
}
.mouse-un-out{
  opacity: 0.5;
  width:10px ;
  height: 10px;
  background-blend-mode:color-burn;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: #542983;
}
::-webkit-scrollbar {
  width: 3px;
  transform: rotate(90deg);
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 1110px;
}
::-webkit-scrollbar-thumb {
  background: var(--dark-bg-secondary);
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
::-webkit-scrollbar {
  border-radius: 50px;
}

/*============Preloader - Start==========*/
.pre-loader{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-primary);
  color: var(--text-primary);
  position: absolute;
  width: 100vw;
  z-index: 5;
  height: 100vh;
  top: 0;
  left: 0;

}
.loader-text h2{
  font-size: 50px;
  background-image: url(../assets/images/images.jpg);
  font-family: "Jatin-Portfolio-Regular";
  font-weight: 900;
  color: transparent;
  background-clip: text;
  letter-spacing: 8px;
}
/*============Preloader - End==========*/
#particles-canvas {
  position: absolute  ;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.3;
}
.main {
  height: 100%;
  /* width: 100vw; */
  display: flex;
  border-radius: 10px;
  gap: 10px;
}
.navbar {
  border-radius: 36px;
  background-color: 0.8, hsl(218, 23%, 16%);
  width: 75px;
  border: 1px solid rgba(245, 222, 179, 0.445);
  /* border: 1px solid #542983; */
  position: relative;
  transition: all ease-in-out 0.8s;
}
li {
  list-style: none;
}
.navbar-in-con {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  row-gap: 30px;
  
  transition: all ease-in-out 1s;
}

.nav-links {
  width: 100%;
}
.un-lst {
  display: flex;
  flex-direction: column;
  row-gap: 22px;
  /* border: 2px solid red; */
}
p {
  text-align: center;
}
.nav-profile img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  transition: all ease-in-out 1s;
}
@media screen and (min-width: 800px) {
  .tab-mob-view {
    display: none;
  }
  .nav-close-btn {
    display: none;
  }
}
.nav-lst-itm {
  display: flex;
  justify-content: center;
  transition: all ease-in-out 0.8s;
  row-gap: px;
  flex-wrap: wrap;
  column-gap: 5px;
  align-items: center;
  /* padding-left: 20px; */
}
.nav-lst-itm svg {
  padding: 5px;
  border-radius: 10px;
}
.nav-lst-itm svg:hover {
  background-color: #1c073e;
  transition: all ease-in-out 0s;
}
.nav-lst-itm span {
  font-size: 14px;
  text-align: center;
}

.nav-close-btn {
  background-color: aquamarine;
  width: 20px;
  height: 20px;
}
.socio-lks {
  display: flex;
  width: 100%;
  justify-content: end;
}
.so-lks {
  display: none;
  background-color: var(--text-primary);
  /* border: 2px solid red; */
}
.dark-lite-mode{
  position:absolute;
  bottom: 20px;
  width: 80%;
  display: flex;
  justify-content: center;
}
.d-l-m-btn{
  /* padding: 22px; */
  width: 50px;
  height: 20px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  background-color:#542983;
  padding: 1.5px;
  transition: all ease-in 2s;
  position: relative;
}
.d-l-btn-toggle{
  position: absolute;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background-color: var(--accent-secondary);
  top: 2px;
}
.d-l-btn-toggle-dark{
  right: 32px;
}
.d-l-btn-toggle-light{
  right: 5px;
}


/*=======Side Navbar Start - when toggle ========*/
.nav-w-toggle{
  background-image: url("../assets/images/background.jpg");
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 35px;
  height: 60px;
  border-radius: 25px;
  margin-bottom: 50px;
}
.nav-pro-img-con {
  position: absolute;
  /* border-radius: 2px solid red; */
  top: 40px;
}
.nav-pro-img-con img{
  transition: all ease-in 1s;
} 
.close-btn-nav {
  background-color: black;
  position: absolute;
  top: 5px;
  right: 10px;
  border-radius: 50px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.close-btn-nav img {
  width: 20px;
}
.nav-w-toggle .nav-pro-img img {
  width: 80px;
  height: 80px;
}
.nav-lst-itm-tgl{
  background-color: #8052b114;
  border-radius: 0.6rem;
  padding: 6px 20px;
  justify-content: left;
}
.nav-lst-itm-tgl a{
  margin-right: 10px;
}
/* .nav-lst-itm{
    display: flex;
    justify-content: left;
    align-items: center;
} */
/*========Side Navbar Code End- when toggle ========*/

/*========Right Section Start - when toggle ========*/
.right-main {
  height: 100%;
  border-radius: 10px;
  width: 100%;
  border: 1px solid rgba(245, 222, 179, 0.445);
  background-color: hsl(218, 23%, 16%), 0.1;
  overflow-y: scroll;
  overflow-x: hidden;
}

/*Home Page*/
.right-con {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.7%;
  position: relative;
}
.animation-gif{
  position: relative;
  top: 0;
  z-index: 6;
}
.hme-centre-con{
  /* column-gap: 20px; */
  display: flex;
}
.boyimage img{
  filter: drop-shadow(2px 2px 0  white);
  user-select: none;
}
.textcon{
  display: flex;
  flex-direction: column;
  justify-content: end;
  position: relative;
  font-family: "Jatin-Portfolio-Regular";
}
.arrow{
  position: absolute;
  width: 200px;
  /* transform: rotate(270deg); */
  top: -50px;
  user-select: none;
}
.name-absolute{
  font-size: 20px;
  position: absolute;
  top: 0;
  left: 35%;
  /* filter: drop-shadow(2px 20px 50px #542983); */
  user-select: none;
  font-family: var(--font-handwriting);
}
.grn-clr{
  color: rgb(0, 255, 0);
  filter: drop-shadow(2px 20px 50px RGB(0,255,0));
}
.sub-con-1{
  /* line-height: 50px; */
  font-size: 1.7vw;
  /* filter: drop-shadow(2px 20px 50px #542983); */
  margin-bottom: 30px;
  letter-spacing: 2px;
}
.scroll-txt{ 
  position:absolute;
  bottom:25px;
  right: 20px;
}
.scroll-txt .text-rotateSvg {
  background-color: transparent;
  color: var(--text-primary);
  width: 80px;
  animation: rotate 6s linear infinite;
}
@keyframes rotate {
  0%{
    transform: rotate(270deg);
  }
  50%{
    transform: translate(630deg);
  }
}
.chevron-down-svg{
  position: absolute;
  top: 28px;
  left: 28px;
  background-color: transparent ;
}
@media screen and (max-height:550px) {
  .scroll-txt{
    display: none;
  }
}
.contact-navi{
  position: absolute;
  bottom: 30px;
  left: 20px;
  font-size: 20px;
  letter-spacing: 4px;
  font-family: var(--font-handwriting);

}

/*---------- Introduction Section----------- */
#intro-section{
  width: 100%;
  height: 100%;
  padding: 50px 0 0 0 ;
  /* border: 2px solid red; */
  justify-content: center;
  display: flex;

}
.intro-sub-con{
  max-width: 1000px;
  margin: auto;
  display: flex;
  align-items: start;
  flex-direction: column;
  /* border: 2px solid red; */
  row-gap: 50px;
}
  .intro-sub-con h2{
  font-size: 50px;
  /* border: 2px solid red; */
  display: inline-block;
  position: relative;
}
.typer{
  color: var(--dark-accent-primary);
}
.intro-sub-con p {
  text-align: left;
  font-size: 25px;
  margin-top: 10px;
}
.info-btn button{
  background-color: transparent;
  border: none;
  border-radius: 20px;
  padding: 10px 10px;
  border: 2px solid #6648d3;
  position: relative;
  color: #6648d3;
  font-weight: bold;
}
.info-btn button:hover{
  background-color: #6648d3;
  cursor: pointer;
  color: white;
  transition: all ease-in-out .5s;
}
/*Another SEction*/
#section {
  width: 100%;
  height: 100%;
  background-color: aliceblue;
}
marquee{
  color: blue;
  padding: 15px 0;
  font-size: 30px;
  font-weight: bold;
  background-color: #555;
}
#contact-sec{
  height: 100vh;
  width: 100%;
}

/*Skills PAge*/
#skill-sec{
  /* border: 2px solid red; */
  height: 90vh;
}
#skill-sec .tech-head{
  display: flex;
  padding: 20px 0;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  justify-content: center;
  align-items: center;
  font-size: 45px;
}
.skills-con{
  display: flex;  
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 80%;
  height:79%;
  margin: auto;
  align-items: center;
}
.skill-card{
  background-color: rgba(17, 25, 40, 0.83);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 18px;
  border-radius:20px;
  border: 2px solid #1c2331;
  box-shadow: 5px 5px 15px #090e24;  
  width: 45%;
  flex-direction: column;
}
.skill-card-subcon1{
  color: gray;
  text-align: center;
  margin-bottom: 20px;
  font-size: 30px;
}
.skill-card-subcon2{
  display: flex;
  justify-items: center;
  justify-content: center;
  gap: 12px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.technobox{
  border: 1px solid gray; 
  border-radius: 10px;
  padding: 8px;
  display: flex;
  gap: 5px;
}
.technobox img {
  width: 25px;
  height: 25px;
}
.technobox span{
  font-size: 15px;
}
/* Project sec*/
#project-sec{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.project-con-sec{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  max-width: 100%;
  margin: auto;
}

.slider{
  display: flex;
  overflow-x: hidden;
  width: 100%;
  /* border: 2px solid red; */
  align-items: center;
}
.prj-contn{
  display: flex;
  padding: 10px;
  width: 100%;
  /* border: 2px solid red; */
  margin-left: 5%;
}
.description{
  width: 35vw;
  padding: 20px 10px;
  line-height: 30px;
  background-color: var(--bg-primary);
  font-size: 25px;
  filter: opacity(0.2);
  border-radius: 20px;
  box-shadow: 3px 3px 20px green ;
}
.description p{
  color: var(--text-primary);
  text-align: left;
}
video{
  width: 650px;
}


/*Devider*/
.devider hr{ 
  width: 60%;
  border-radius: 900%;
  border-color: #542983;
  background-color: var(--bg-primary);
  margin: auto;
  box-shadow: 3px 3px 20px var(--accent-secondary);
}
/*  Page*/
#cpy-cnt-sec{
  width: 100%;
  height: 100%;
  /* background-color: #555; */
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;

}
.textConLP{
  display: flex ;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  align-items: center;
  height: 90%;
  padding: 0 100px;
  position: relative;
}

.textConLP h2{
    font-size: 4vw;
    text-align: center;
}
.social-icons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.social-icons div{
  border: 1px solid green;
}
.copyrightLPP{
  height: 10%;
  display: flex ;
  justify-content: center;
  align-items: center;

}
